**/bin/
**/obj/
**/node_modules/
server/package-lock.json
work/
.vs/
.idea/
*.user
*.suo
*.log
.env
.env.*
!.env.example
bridge.token
settings.json
snapshots/
*.rvt
*.rfa
*.rte
*.rft
*.zip
RevitAPI.dll
RevitAPIUI.dll
